In [10]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"C:\Users\ADMIN\Downloads\Affairs.csv")
print(data)

     Unnamed: 0  affairs  gender   age  yearsmarried children  religiousness  \
0             4        0    male  37.0         10.00       no              3
1             5        0  female  27.0          4.00       no              4
2            11        0  female  32.0         15.00      yes              1
3            16        0    male  57.0         15.00      yes              5
4            23        0    male  22.0          0.75       no              2
5            29        0  female  32.0          1.50       no              2
6            44        0  female  22.0          0.75       no              2
7            45        0    male  57.0         15.00      yes              2
8            47        0  female  32.0         15.00      yes              4
9            49        0    male  22.0          1.50       no              4
10           50        0    male  37.0         15.00      yes              2
11           55        0    male  27.0          4.00      yes              4
12           64        0    male  47.0         15.00      yes              5
13           80        0  female  22.0          1.50       no              2
14           86        0  female  27.0          4.00       no              4
15           93        0  female  37.0         15.00      yes              1
16          108        0  female  37.0         15.00      yes              2
17          114        0  female  22.0          0.75       no              3
18          115        0  female  22.0          1.50       no              2
19          116        0  female  27.0         10.00      yes              2
20          123        0  female  22.0          1.50       no              2
21          127        0  female  22.0          1.50       no              2
22          129        0  female  27.0         10.00      yes              4
23          134        0  female  32.0         10.00      yes              3
24          137        0    male  37.0          4.00      yes              2
25          139        0  female  22.0          1.50       no              2
26          147        0  female  27.0          7.00       no              4
27          151        0    male  42.0         15.00      yes              5
28          153        0    male  27.0          4.00      yes              3
29          155        0  female  27.0          4.00      yes              3
..          ...      ...     ...   ...           ...      ...            ...
571        1674       12  female  17.5          0.75      yes              2
572        1682        7  female  32.0         15.00      yes              5
573        1685        7  female  22.0          4.00       no              1
574        1697        2    male  32.0          4.00      yes              4
575        1716        1  female  22.0          1.50      yes              3
576        1730        3  female  42.0         15.00      yes              2
577        1731        1    male  32.0          7.00      yes              4
578        1732       12    male  37.0         15.00       no              3
579        1743        1    male  42.0         15.00      yes              3
580        1751        1    male  27.0          4.00      yes              1
581        1757        2    male  37.0         15.00      yes              4
582        1763        7    male  37.0         15.00      yes              3
583        1766        3    male  22.0          1.50       no              2
584        1772        3    male  32.0          4.00      yes              3
585        1776        2    male  32.0         15.00      yes              5
586        1782       12  female  52.0         15.00      yes              1
587        1784       12    male  47.0         15.00       no              1
588        1791        3  female  32.0         15.00      yes              4
589        1831        7  female  32.0         15.00      yes              3
590        1840        7  female  27.0          7.00      yes              4
591        1844       12    male  42.0         15.00      yes              3
592        1856        7  female  42.0         15.00      yes              2
593        1876       12    male  27.0          7.00      yes              2
594        1929        3    male  32.0         10.00      yes              4
595        1935        7    male  47.0         15.00      yes              3
596        1938        1    male  22.0          1.50      yes              1
597        1941        7  female  32.0         10.00      yes              2
598        1954        2    male  32.0         10.00      yes              2
599        1959        2    male  22.0          7.00      yes              3
600        9010        1  female  32.0         15.00      yes              3

     education  occupation  rating
0           18           7       4
1           14           6       4
2           12           1       4
3           18           6       5
4           17           6       3
5           17           5       5
6           12           1       3
7           14           4       4
8           16           1       2
9           14           4       5
10          20           7       2
11          18           6       4
12          17           6       4
13          17           5       4
14          14           5       4
15          17           5       5
16          18           4       3
17          16           5       4
18          16           5       5
19          14           1       5
20          16           5       5
21          16           5       5
22          16           5       4
23          14           1       5
24          20           6       4
25          18           5       5
26          16           1       5
27          20           6       4
28          16           5       5
29          17           5       4
..         ...         ...     ...
571         12           3       5
572         18           5       4
573         16           3       5
574         18           6       4
575         18           5       2
576         17           5       4
577         16           4       4
578         14           6       2
579         16           6       3
580         18           5       4
581         20           7       3
582         20           6       4
583         12           3       3
584         20           6       2
585         20           6       5
586         18           5       5
587         18           6       5
588         16           4       4
589         14           3       2
590         16           1       2
591         18           6       2
592         14           3       2
593         17           5       4
594         14           4       3
595         16           4       2
596         12           2       5
597         18           5       4
598         17           6       5
599         18           6       2
600         14           1       5

[601 rows x 10 columns]

In [11]:
data.columns

Index(['Unnamed: 0', 'affairs', 'gender', 'age', 'yearsmarried', 'children',
       'religiousness', 'education', 'occupation', 'rating'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 10 columns):
Unnamed: 0       601 non-null int64
affairs          601 non-null int64
gender           601 non-null object
age              601 non-null float64
yearsmarried     601 non-null float64
children         601 non-null object
religiousness    601 non-null int64
education        601 non-null int64
occupation       601 non-null int64
rating           601 non-null int64
dtypes: float64(2), int64(6), object(2)
memory usage: 47.0+ KB

In [14]:
x=data[['gender', 'age', 'yearsmarried', 'children',
       'religiousness', 'education', 'occupation']]
y=data['affairs']

In [15]:
x=pd.get_dummies(x,drop_first=True)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

D:\anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [20]:
m1=LogisticRegression()
m1.fit(xtrain,ytrain)
p=m1.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score
l=accuracy_score(p,ytest)
print(l)

0.7350993377483444